/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300&display=swap");

.login-main {
  background-image: linear-gradient(to top, #d16323 0%, #e9d62d 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  min-height: 100vh;
}
.usernamelog:focus {
  background-color: transparent !important;
}
.usernamelog {
  border: none;
  background: fixed;
  background-color: transparent !important;
  padding-top: 10px;
  font-size: 25px;
  border-bottom: 2px solid #09203f;
  color: rgb(255, 255, 255);
  font-family: "IBM Plex Sans Thai", sans-serif;
}
.passwordlog:focus {
  background-color: transparent !important;
}
.passwordlog {
  padding-top: 10px;
  border: none;
  background-color: transparent !important;
  font-size: 25px;
  border-bottom: 2px solid #09203f;
  color: rgb(255, 255, 255);
  font-family: "IBM Plex Sans Thai", sans-serif;
}

::-webkit-input-placeholder {
  /* Edge */
  /* color: white;
  font-size: 20px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  /* color: white;
  font-size: 20px;
}
::placeholder {
  color: gray;
  font-size: 20px;
}

.buttonlog {
  border: 2px solid #09203f;
  border-radius: 10px;
  width: 160px;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  background-color: transparent;
  color: black; */
/* }

.buttonlog:hover {
  background-color: #09203f;
  color: white;
}

.errormessage {
  color: rgb(173, 0, 0);
  font-size: medium;
  font-weight: bolder;
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: absolute;
  z-index: 1;
  width: 250px;
}

.loginlabel {
  font-size: 25px;
  font-family: "IBM Plex Sans Thai", sans-serif;
  color: #09203f;
  font-weight: bolder;
}
.logother {
  margin-right: 100px;
  font-family: "IBM Plex Sans Thai", sans-serif;
  color: gray;
}
.registerbuttoni {
  color: gray;
}
.login-mai {
  border: 2px dashed #09203f;
  padding: 30px;
  /* border-radius: 10px; */
  /* background-color: white;
}   */