* {
    /* box-sizing: border-box; */
  }
.pendingbody{

    min-width: 100vw !important;
    min-height: 100vh !important;
    
    background: -webkit-linear-gradient(
    to right,
    #e29b18,
    #2b5876
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #628eee,
    #abbbbe
  )!important;
}
.pendingtable{
     padding: 50px; 
}