@import url("https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Dosis:wght@200&display=swap");
.body3 {
  padding: 30px;
  padding-bottom: 170px;
  margin: 0px;
  min-height: 100vh;
  background-color: #330033;
  background-color: #330033;
  background-color: #000000;
  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

td {
  margin: 0px !important;
  padding: 10px !important;
}
tr {
  margin: 0px !important;
  padding: 0px !important;
}
.approved {
  font-family: "Share Tech", sans-serif !important;
  margin: 0;
  padding: 0;
  text-align: center;
}

.idststat {
  font-family: "Share Tech", sans-serif !important;
  text-align: center;
}
.small {
  font-size: smaller !important;
  font-style: italic !important;
  color: gray !important;
  font-family: "Share Tech", sans-serif !important;
  text-align: center;
}
.round {
  border-radius: 50px !important;
  border: 2px solid #3f0f01 !important;
}
tbody {
  font-family: "Share Tech", sans-serif !important;
  font-weight: 700 !important;
  font-size: larger;
  -webkit-box-shadow: 0px 7px 10px -10px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 0px 7px 10px -10px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 7px 10px -10px rgba(0, 0, 0, 0.67) !important;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");

.middleme {
  font-family: "Share Tech", sans-serif !important;
  left: 35%;
}

.table1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Share Tech", sans-serif !important;

  text-align: center;
  overflow-x: auto;
  margin: 0;
  padding: 0;
}

tbody {
  width: fit-content;
  padding-left: 55px;
  padding-right: 55px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(255, 255, 255);
  border-top: 5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );

  border-image-slice: 1;
}
